# Declare files that will always have LF line endings on checkout.
/metainfo2.txt text eol=crlf
/cpu/onlineservices/1/default/tsd/etc/persistence/esd/*.esd text eol=crlf
*/hashes.txt text eol=crlf
*/Update.txt text eol=crlf
*.sh text eol=lf
